.page-wrapper {
  height: 95vh;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.candidate-grid:has(input[type='radio']:focus) {
  border-width: 5px;
}

.full-row {
  text-align: center;
  border: 2px solid black;
}

.full-row p {
  font-size: 1.5em;
}

.candidate-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}

.party-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.party-row p,
h3,
h2 {
  font-size: 1.5em;
}

.s-button {
  width: 70%;
  height: 3em;
  margin-bottom: 3.5vh;
  font-size: 1.5em;
}

input[type='radio'] {
  box-sizing:content-box;
  appearance: none;
  background: white;
  outline: 1px solid #333;
  border: 1px solid white;
  width: 250px;
  height: 30px;
  content: "hi";
}

input[type='radio']:checked {
  background: #13c749;
}

.party-row:has(input[type='radio']:checked){
  background: rgb(64, 227, 64);
  border-color: rgb(9, 171, 9);
  border-width: 5px;
}

.row-button {
  pointer-events: none;
}

.row-button:focus {
  border-width: 5px;
}

.page-wrapper:has(input[type='radio']) .row-button::after{
  content: "Please Select A Candidate";
  pointer-events:none;
  cursor:none;
}

.page-wrapper:has(input[type='radio']:checked) .row-button::after{
  content: "Confirm Vote";
}

.page-wrapper:has(input[type='radio']:checked) .row-button{
  background: rgb(64, 227, 64);
  border-color: rgb(9, 171, 9);
  pointer-events: auto;
  cursor: auto;
}